<div class="row">
  <div class="col-5">
    <app-liste (eventToCv)="recupererCandidatClique($event)"></app-liste>
  </div>
  <div class="col-7">
    @if (selectedCandidat) {
    <app-details [selCand]="selectedCandidat"></app-details>
    } @else {
    <h4>Veuillez selectionner un candidat...</h4>
    }
  </div>
</div>
<app-recruter></app-recruter>

<!-- <button (click)="addCandidat()" class="btn btn-outline-primary">
  Ajouter Candidat
</button>
<button (click)="affichageListCandidats()" class="btn btn-outline-danger">
  Ce que voit CVComponent
</button> -->
