<ol class="list-group">
  <input [(ngModel)]="selectedStatus" type="text" class="form-control" />
  <br />
  @for (serv of listServers | filter:selectedStatus ; track $index) {
  <li [ngClass]="affecterClasse(serv.status)" class="list-group-item">
    {{ serv.name | short : 14 }} | {{ serv.type | uppercase }} |
    {{ serv.date_d | date : "fullDate" | uppercase }}
    <span class="badge bg-secondary">{{ serv.status }} </span>
    <!-- {{ 34 | currency : "EUR" }} -->
  </li>

  }
</ol>

<button (click)="addServer()" class="btn btn-primary">Add Server</button>
