<form #f="ngForm">
  <label for="">Prénom</label>
  <input ngModel required name="prenom" type="text" class="form-control" />
  <label for="">Nom</label>
  <input ngModel required name="nom" type="text" class="form-control" />
  <label for="">Age</label>
  <input ngModel name="age" type="number" class="form-control" />
  <label for="">Profession</label>
  <input ngModel name="profession" type="text" class="form-control" />
  <label for="">avatar</label>
  <input ngModel name="avatar" type="text" class="form-control" />

  <pre>
    {{ f.value | json }}
  </pre>
  <br />
  <button
    (click)="ajouterHandler(f.value)"
    [disabled]="f.invalid"
    class="btn btn-outline-primary"
  >
    Ajouter Candidat
  </button>
</form>
