<ol class="list-group">
  @for (cand of tabCands; track $index) {

  <app-item
    (eventToListe)="sendCandToCv($event)"
    [unCandidat]="cand"
  ></app-item>
  }
  <!-- <app-item
    (eventToListe)="sendCandToCv($event)"
    [unCandidat]="tabCands[1]"
  ></app-item>
  <app-item
    (eventToListe)="sendCandToCv($event)"
    [unCandidat]="tabCands[2]"
  ></app-item> -->
</ol>

<!-- <button (click)="affichageListCandidats()" class="btn btn-outline-info">
  Ce que voit ListeComponent
</button> -->
